.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1 px solid #f9f9f9;
}


.header-logo{
    object-fit: contain;
    height: 40px;
}

.header_icon{
    padding: 20px;
}